
  <div class = "container-user-show blue">
    <h1 class="ml9">
    <span class="text-wrapper">
    <span class="letters">Hi <%= current_user.first_name %>!</span>
    </span>
  </h1>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <div>
    <%= image_tag ("https://res.cloudinary.com/dzb3rykjc/image/upload/v1678704501/Photo_on_01-03-23_at_15.34_zfm3yc.jpg"), class: "profile-picture-user-show"%>
    </div>
    <div class="profile-card-user-show">
      <div class= "profile-card-info-user-show">
        <p class="label-user-show"><strong>Name</strong></p>
        <p><%= @user.first_name %> <%= @user.last_name %></p>
      </div>
      <div class= "profile-card-info-user-show">
        <p class= "label-user-show"><strong>Email</strong></p>
        <p><%= @user.email %></p>
      </div>
      <div class="profile-card-info-user-show">
        <p class ="label-user-show"><strong>Phone number</strong></p>
        <p><%= @user.phone_number %></p>
      </div>
      <div class="btn-user-show">
      <%= link_to "Edit", edit_user_path, class:"btn-text-user-show" %>
      </div>
      <%= image_tag ("https://res.cloudinary.com/dzb3rykjc/image/upload/v1678802604/WalkByMe/Background/profile_image_f9qllg.png"), class: "bottom-picture-user-show" %>
    </div>


</div>


<script>

const textWrapper = document.querySelector('.ml9 .letters');
textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

anime.timeline({loop: true})
  .add({
    targets: '.ml9 .letter',
    scale: [0, 1],
    duration: 1500,
    elasticity: 600,
    delay: (el, i) => 45 * (i+1)
  }).add({
    targets: '.ml9',
    opacity: 0,
    duration: 1000,
    easing: "easeOutExpo",
    delay: 1000
  });

  window.onload =()=>{
    animation.play()
  }

</script>
