<h1><%= @user.first_name %> <%= @user.last_name %></h1>
<p><%= @user.phone_number %></p>


<%= link_to "Update info", edit_user_path  %>
<%= link_to "Delete",
  destroy_user_session_path,
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>


<h2><%= link_to "Emergency contacts", user_contacts_path(current_user) %></h2>
