<div class="container">

<a href="<%= carousel_index_path(current_user) %>">
  <div class="map-image-container">
    <img src="https://res.cloudinary.com/dzb3rykjc/image/upload/v1678888591/Screenshot_2023-03-15_at_14.42.58_1_wnxfng.png" alt="Map image">
  </div>
</a>


  <div data-controller="map" class= "homepage-map"></div>

  <div class="home__cards-card-big mb-3">
      <img src="https://res.cloudinary.com/dzb3rykjc/image/upload/v1678879801/house_rxooi3.png" alt="location icon" width="30px" height="30px">
      <%= form_with url: checkins_path, method: :post do |form| %>
          <%= form.submit "Take me home", class: "card-submitbtn" %>
      <% end %>
      <i class="fa-solid fa-arrow-right"></i>
    </div>

  <div class="home__cards">
    <div class="home__cards-card mb-3">
      <img src="https://res.cloudinary.com/dzb3rykjc/image/upload/v1678879798/search_xfgdvl.png" alt="people icon" >
      <%= link_to "Friends", user_contacts_path(current_user), class: "title" %>
    </div>
    <div class="home__cards-card mb-3">
      <img src="https://res.cloudinary.com/dzb3rykjc/image/upload/v1678879798/panels_diwgsv.png" alt="address icon" >
      <%= link_to "Addresses", user_locations_path(current_user), class: "title" %>
    </div>
    <div class="home__cards-card mb-3">
      <img src="https://res.cloudinary.com/dzb3rykjc/image/upload/v1678879800/place_twnsep.png" alt="custom route icon">
      <%= form_with url: checkins_path, method: :post do |form| %>
          <%= form.submit "Custom Route", class: "card-submitbtn" %>
      <% end %>
    </div>
    <div class="home__cards-card mb-3">
      <img src="https://res.cloudinary.com/dzb3rykjc/image/upload/v1678890604/walking_ve3kfy.png" alt="follow me icon" >
      <%= form_with url: checkins_path, method: :post do |form| %>
        <%= form.submit "Follow Me", class: "card-submitbtn"%>
      <% end %>
    </div>
  </div>
</div>


<%# <div class="home-help-container"> %>
<%#   <div class="home-help-btn"> %>
    <%# <i class="fa-solid fa-question"></i> %>
<%#     <%= link_to "?", carousel_index_path(current_user), class: "home-help-icon" %>
  <%# </div>
</div> %>
