<div class = "container-location-new blue">
  <div class = "form-location-new">
    <%= simple_form_for [current_user, @location] do |f| %>
      <%= f.input :name, label: "Label" %>
      <%= f.input :address, label: "Address", error: 'Address is mandatory, please specify one.' %>
      <%= f.input :icon, as: :select, collection: { 'Home' => 'fa-house', 'Work' => 'fa-briefcase', 'Restaurant' => 'fa-solid fa-burger' }, label: 'Select an icon:', input_html: { class: 'form-control' }, placeholder: "Please, select one." %>
      <div class= "text-center-location-new">
        <p class= "btn-save-location-new"><%= f.button :submit, "Create new Address" %></p>
      </div>
    <% end %>
  </div>

</div>
