<!DOCTYPE html>
<html>
  <head>
    <title>WalkByMe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.css" rel="stylesheet">
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css" rel="stylesheet" />

    <script src="https://api.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.js"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.min.js'></script>
     <%= javascript_include_tag 'https://code.jquery.com/jquery-3.6.0.min.js' %>

    <%= javascript_include_tag "/assets/application", "data-turbo-track": "reload", defer: true %>

  </head>

  <body>
    <% if current_page?(root_path) %>
      <%= render "shared/navbar-home" %>
    <% elsif current_page?(user_path(current_user)) %>
      <%= render "shared/navbar-profile"%> <!-- problem when logged in-->
    <% else %>
      <%= render "shared/navbar" %>
    <% end %>

    <%= render "shared/flashes" %>

    <%= yield %>
  </body>
</html>
